GEMINI_API_KEY="YOUR_API_KEY_HERE"

PAYOS_CLIENT_ID="YOUR_PAYOS_CLIENT_ID"
PAYOS_API_KEY="YOUR_PAYOS_API_KEY"
PAYOS_CHECKSUM_KEY="YOUR_PAYOS_CHECKSUM_KEY"

GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
