# Ignore environment variables file
.env
node_modules/
package-lock.json

# Ignore logs and cache files
logs/rate_limit/*
!logs/rate_limit/.gitkeep
storage/cache/*
!storage/cache/.gitkeep
*.log
*.tmp
